@import "../../__variables.scss";

body, html {
    background: $background;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    color: white;
    font-family: $Font;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
}

.main__article {
    width: 1152px;
    height: auto;
    background: gray;
    color: $Gray2;
    display: flex;
    flex-direction: column;
}

.masno {
    height: 100rem;
    width: 100%;
    background: gray;
}

.mobile-wrapper {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 0;
    height: 0;
    visibility: hidden;
}