$Darker: rgb(12,11,16);
$Gray: rgb(111,111,111);
$Gray2: rgb(125,125,125);
$lightGray: rgb(215,215,215);
$Tgray: rgba(194, 194, 194, 0.342);
$Font: Lato, "sans-serif";
$blue: rgb(51,51,103);
$blue2: rgb(1,175,236);
$black: #171717;
$background: rgb(243, 243, 243);

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    filter: opacity(1);
    font-family: $Font;
}

body, html {
    overflow-x: hidden;
}

nav {
    height: 8vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin: 1% 2.5% 1% 2.5%;

    font-size: 1rem;
    color: $blue;
    
    .nav__text {
        order: 5;
        font-size: 0.85em;
        font-weight: bold;
        color: $Gray2;

        padding: 10px 8px;
    }
}

#nav_logo {
    filter: opacity(1);
    margin: 0 1rem 0 0;

    &:hover {
        cursor: pointer;
        filter: opacity(0.7);
    }
}

input {
    background: white;
    line-height: 20px;

    font-weight: bold;
    font-size: 1em;
    color: $Gray2;

    padding: 0px 8px;

    text-transform: uppercase;

    &.list {
        background: transparent;
        order: 2;
        border: none;

        &__login {
            border: none;
            background: transparent;
            order: 5;
            &:hover {
                filter: opacity(0.7);
                cursor: pointer;
            }
        }
        &:hover {
            cursor: pointer;
            filter: opacity(0.7);
        }
        &:active {
            outline-width: 5rem;
        }
    }
}

#icon {
    margin-bottom: 20px;
}

#icon1 {
    order: 3;
    padding: 5px 15px;
    margin-right: 10px;
    background-image: url("../images/poland.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon2 {
    order: 4;
    padding: 5px 18px;
    background-image: url("../images/english.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon3 {
    order: 6;
    padding: 15px 18px;
    background-image: url("../images/phone-icon2.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#icon4 {
    order: 8;
    padding: 15px 18px;
    margin-left: 10px;
    background-image: url("../images/letter-icon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52.5px 28px;
}

#icon-text1 {
    order: 6;
    padding: 0 15px 0 0;
    font-size: 1em;
}
#icon-text2 {
    order: 9;
}