@import "__variables.scss";

body, html {
    background: $background;
    color: white;
    font-family: $Font;  

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}


input {
    background: transparent;
    line-height: 20px;

    font-weight: bold;
    font-size: 1em;
    color: $Gray2;

    padding: 0px 8px;

    text-transform: uppercase;

}

.list_form {
    order: 3;
}

.list__login_text1 {
    order: 4;
}
.list__login_text2 {
    order: 5;
}
.list__login_text3 {
    order: 6;
}

#icon {
    position: absolute;
    left: 0;
    top: 0;
    align-self: center;
    margin: 0 0 2% 0;
}

#icon1 {
    order: 3;
    padding: 5px 15px;
    margin-right: 10px;
    background-image: url("images/poland.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon2 {
    order: 4;
    padding: 5px 18px;
    background-image: url("images/english.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon3 {
    order: 6;
    padding: 15px 18px;
    background-image: url("images/phone-icon2.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#icon4 {
    order: 8;
    padding: 15px 18px;
    margin-left: 10px;
    background-color: transparent;
    background-image: url("images/letter-icon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52.5px 28px;
}

section.container {
    display: flex;
    height: 110vh;
    width: 60%;
    flex-direction: column;
    align-items: center;
    background: white;
}

.item1 {
    display: grid;
    grid-template: 1fr / 1fr 0.5fr;
    width: 100%;
    height: 25vh;
    position: relative;

    justify-content: space-between;
    align-items: center;
   
    margin: 0 0 2% 0;

    &_gradient {
        display: grid;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        background: linear-gradient(to right, transparent 40%, black 65%);
    }
    &__photo {
        position: relative;
        width: 100%;
        z-index: 0;
        height: 25vh;
    }
}
.item {
    display: grid;
    grid-template: 1fr / 0.6fr 1fr;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;

    border: 0.5px $Gray2 solid;
    background: transparent;

    height: 25vh;
    width: 100%;
    margin-bottom: 2%;
    padding: 0;

        &__container {
            position: absolute;
            z-index: 5;
            display: flex;
            flex-direction: column;
            overflow: auto;

            height: 100%;
            width: 100%;
            padding: 1.5%;
        }
        &__header {
            font-size: 1.3em;
            font-weight: bold;
            letter-spacing: 1.5px;
            padding-bottom: 1.5%;
        }

        &__text {
            width: 45%;
            font-size: 0.8em;
        }

        &__gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            background: linear-gradient(to right, gray 40%, transparent 60%);
        }
        &__photo {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            object-fit: cover;
        }
}

.item2 {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template: 1fr / 1fr 0.65fr;
    position: relative;

    border: 0.5px $Gray2 solid;

    width: 100%;
    height: 25vh;
    margin: 0 0 2% 0;
    padding: 0;

        &__container {
            position: absolute;
            display: flex;
            flex-direction: column;
            overflow: auto;
            z-index: 2;
            right: 0;
            top: 0;

            max-height: 100%;
            width: 50%;
            padding: 1.5%;
        }
        &__header {
            font-size: 1.3em;
            font-weight: bold;
            letter-spacing: 1.5px;
            padding-bottom: 1.5%;
        }

        &__text {
            width: 100%;
            font-size: 0.8em;
            z-index: 5;
        }

        &__gradient {
            min-width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(to left, gray 53%, transparent 75%);
            z-index: 2;
        }
        &__photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
}

.itemcontainer1 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;

    margin: 20% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-text1 {
    font-size: 0.9rem;
    order: 6;
}
#icon-text2 {
    order: 9;
    font-size: 0.9rem;
}

#item__text {
    position: absolute;
    font-size: 0.7rem;
    width: 50%;
    font-weight: 600;
    left: 34%;
    top: 33%;
}

#itemcontainer {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0%;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {

    order: 2;
}
.mobile-wrapper {
    width: 0;
    height: 0;
    visibility: hidden;
}

@media only screen and (min-width:1921px) {

    section.container {
        width: 1150px;
        height: 1188px;
    }

    nav {
        width: 1920px;
        height: 86.4px;
    }

    .item, .item1, .item2 {
        width: 1150px;
        height: 310px;
    }

    .item1 {
        &__photo {
            height: 310px;
        }
    }
    #icon {
        width: 357.4px;
        height: 88.5px;
    }

    footer.container {
        height: 110px;
        margin: 8vw 0 0 0;

        .container__item1 {
            height: 12vh;
            width: 100%;
            &_logo {
                margin: 0 0 0 10%;
            }
            &_text {
                width: 47.5%;
                font-size: 0.75em;
            }
        }
    }
}

@media only screen and (min-height: 1081px) {

    section.container {
        width: 1150px;
        height: 1188px;
    }

    nav {
        width: 1920px;
        height: 86.4px;
    }

    .item, .item1, .item2 {
        height: 310px;
    }

    footer.container {
        height: 110px;
        margin: 8vh 0 0 0;

        .container__item1 {
            height: 12vh;
            width: 100%;
            &_logo {
                margin: 0 0 0 10%;
            }
            &_text {
                width: 47.5%;
                font-size: 0.75em;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
section.container {
    width: 1150px;
    height: 1188px;
  }
  nav {
    width: 1920px;
    height: 86.4px;
  }
  .item, .item1, .item2 {
    width: 1150px;
    height: 310px;
  }
  .item1__photo {
    height: 310px;
  }
  #icon {
    width: 357.4px;
    height: 88.5px;
  }
  footer.container {
    height: 110px;
    margin: 8vw 0 0 0;
  }
  footer.container .container__item1 {
    height: 12vh;
    width: 100%;
  }
  footer.container .container__item1_logo {
    margin: 0 0 0 10%;
  }
  footer.container .container__item1_text {
    width: 47.5%;
    font-size: 0.75em;
  }
}

@media only screen and (max-height: 720) {
    section.container {
        width: 1150px;
        height: 1188px;
      }
      nav {
        width: 1920px;
        height: 86.4px;
      }
      .item, .item1, .item2 {
        width: 1150px;
        height: 310px;
      }
      .item1__photo {
        height: 310px;
      }
      #icon {
        width: 357.4px;
        height: 88.5px;
      }
      footer.container {
        height: 110px;
        margin: 8vw 0 0 0;
      }
      footer.container .container__item1 {
        height: 12vh;
        width: 100%;
      }
      footer.container .container__item1_logo {
        margin: 0 0 0 10%;
      }
      footer.container .container__item1_text {
        width: 47.5%;
        font-size: 0.75em;
      }
}
/*@media only screen and (max-width: 1280px) {

    body, html {
        overflow-x: hidden;
    }

    section.container {
        overflow-x: hidden;
        width: 1150px;
        height: 1188px;
    }

    nav {
        width: 1280px;
        height: 86.4px;
    }

    .item, .item1, .item2 {
        width: 1150px;
        height: 310px;
    }

    .item1 {
        &__photo {
            height: 310px;
        }
    }
    #icon {
        width: 357.4px;
        height: 88.5px;
    }

    footer.container {
        width: 1150px;
        height: 110px;
        margin: 12vw 0 0 0;

        .container__item1 {
            height: 12vh;
            width: 100%;
            &_logo {
                margin: 0 0 0 10%;
            }
            &_text {
                width: 47.5%;
                font-size: 0.75em;
            }
        }
    }
}

@media only screen and (max-height: 720px) {
   
    section.container {
        overflow-y: hidden;
        width: 1150px;
        height: 1188px;
    }

    nav {
        width: 1280px;
        height: 86.4px;
    }

    .item, .item1, .item2 {
        height: 310px;
    }

    .item1 {
        &__photo {
            height: 310px;
        }
    }

    #icon {
        width: 357.4px;
        // height: 88.5px;
        height: 120px;
    }

    footer.container {
        height: 110px;
        width: 1150px;
        margin: 1vw 0 -20% 0;

        .container__item1 {
            height: 12vh;
            width: 100%;
            &_logo {
                margin: 0 0 0 10%;
            }
            &_text {
                width: 47.5%;
                font-size: 0.75em;
            }
        }
    }
} */