*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  filter: opacity(1);
  font-family: Lato, "sans-serif";
}

body, html {
  overflow-x: hidden;
}

nav {
  height: 8vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1% 2.5% 1% 2.5%;
  font-size: 0.8rem;
  color: #333367;
}

nav .nav__text {
  order: 5;
  font-size: 0.85em;
  font-weight: bold;
  color: #7d7d7d;
  padding: 10px 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav_logo {
  filter: opacity(1);
  margin: 0 1rem 0 -2.5rem;
  object-fit: contain;
}

#nav_logo:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

input {
  background: white;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: #7d7d7d;
  padding: 0px 8px;
  text-transform: uppercase;
}

input.list {
  background: transparent;
  border: none;
  transition: filter 0.5s ease;
}

input.list__login {
  border: none;
  background: transparent;
  transition: filter 0.3s ease;
}

input.list__login:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

input.list:hover {
  cursor: pointer;
  filter: opacity(0.7);
}

.list_form {
  display: flex;
}

#icon {
  margin-bottom: 20px;
}

#icon1 {
  padding: 5px 15px;
  margin-right: 10px;
  background-image: url("/images/poland.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

#icon2 {
  padding: 5px 18px;
  background-image: url("/images/english.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

footer.container {
  display: grid;
  grid-template: 7fr 0.3fr / 1fr;
  align-items: end;
  height: 1rem;
  width: 60%;
}

footer.container .container__item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0c0b10;
  border: 1px #7d7d7d solid;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
  padding: 3% 0;
}

footer.container .container__item1_logo {
  margin-left: 20%;
  opacity: 1;
  object-fit: contain;
}

footer.container .container__item1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 12%;
  font-size: 0.9rem;
  margin: 0 15% 0 0;
  color: #6f6f6f;
}

footer.container .container__item2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background: #7d7d7d;
  border: 1px #7d7d7d solid;
  border-top: none;
}

body, html {
  background: #f3f3f3;
  color: white;
  font-family: Lato, "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  overflow-y: scroll;
}

input {
  background: transparent;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: #7d7d7d;
  padding: 0px 8px;
  text-transform: uppercase;
}

section.container {
  display: flex;
  height: 120vh;
  width: 60%;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: 0 0 0 0;
  overflow: hidden;
}

.item1 {
  display: grid;
  grid-template: 1fr / 1fr 0.5fr;
  width: 100%;
  height: 25vh;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2% 0;
}

.item1_gradient {
  display: grid;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent 40%, black 65%);
}

.item1__photo {
  position: relative;
  width: 100%;
  z-index: 0;
  height: 25vh;
}

.item {
  display: grid;
  grid-template: 0.6fr 1fr / 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  border: 0.5px #7d7d7d solid;
  background: transparent;
  width: 1150px;
  min-height: 310px;
  margin: 0 0 2% 0;
  padding: 0;
}

.item__container {
  position: absolute;
  z-index: 5;
  display: grid;
  grid-template: 0.2fr 1fr / 1fr;
  min-height: 100%;
  min-width: 100%;
  padding: 1.5%;
}

.item__header {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-bottom: 1.5%;
}

.item__text {
  overflow: auto;
  width: 45%;
  font-size: 0.8em;
}

.item__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: linear-gradient(to right, gray 40%, transparent 60%);
}

.item__photo {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  object-fit: cover;
}

.item2 {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template: 1fr / 1fr 0.65fr;
  position: relative;
  border: 0.5px #7d7d7d solid;
  width: 100%;
  height: 25vh;
  margin: 0 0 2% 0;
  padding: 0;
}

.item2__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 2;
  right: 0;
  top: 0;
  max-height: 100%;
  width: 50%;
  padding: 1.5%;
}

.item2__header {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-bottom: 1.5%;
}

.item2__text {
  width: 100%;
  font-size: 0.8em;
  z-index: 5;
}

.item2__gradient {
  min-width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, gray 53%, transparent 75%);
  z-index: 2;
}

.item2__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.itemcontainer1 {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  margin: 20% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item__text {
  position: absolute;
  font-size: 1rem;
  width: 70%;
  font-weight: 600;
  left: 10%;
  top: 33%;
}

#itemcontainer {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icon {
  position: absolute;
  top: 10%;
  left: -6%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-wrapper {
  width: 0;
  height: 0;
  visibility: hidden;
}

@media only screen and (min-width: 1921px) {
  section.container {
    width: 1150px;
    height: 1188px;
  }
  nav {
    width: 1920px;
    height: 86.4px;
  }
  .item, .item1, .item2 {
    width: 1150px;
    height: 310px;
  }
  .item1__photo {
    height: 310px;
  }
  #icon {
    width: 357.4px;
    height: 88.5px;
  }
  footer.container {
    height: 110px;
    margin: 8vw 0 0 0;
  }
  footer.container .container__item1 {
    height: 12vh;
    width: 100%;
  }
  footer.container .container__item1_logo {
    margin: 0 0 0 10%;
  }
  footer.container .container__item1_text {
    width: 47.5%;
    font-size: 0.75em;
  }
}

@media only screen and (min-height: 1081px) {
  section.container {
    width: 1150px;
    height: 1188px;
  }
  nav {
    width: 1920px;
    height: 86.4px;
  }
  .item, .item1, .item2 {
    height: 310px;
  }
  footer.container {
    height: 110px;
    margin: 0 0 0 0;
  }
  footer.container .container__item1 {
    height: 12vh;
    width: 100%;
  }
  footer.container .container__item1_logo {
    margin: 0 0 0 10%;
  }
  footer.container .container__item1_text {
    width: 47.5%;
    font-size: 0.75em;
  }
}

section.container {
  width: 1150px;
  height: auto;
}

nav {
  width: 1920px;
  height: 86.4px;
}

.item, .item1, .item2 {
  width: 1150px;
  height: 310px;
}

.item1__photo {
  height: 310px;
}

#icon {
  width: 357.4px;
  height: 88.5px;
}

footer.container {
  height: 110px;
  margin: 1% 0 0 0;
}

footer.container .container__item1 {
  height: 12vh;
  width: 100%;
}

footer.container .container__item1_logo {
  margin: 0 0 0 10%;
}

footer.container .container__item1_text {
  font-size: 0.75em;
}
/*# sourceMappingURL=style.css.map */