@import "../__variables.scss";

body, html {
    background: $background;
    min-height: 100vh;
    max-width: 100vw;

    color: white;
    font-family: $Font;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.main__article {
    width: 1152px; 
    height: auto;
    padding: 0 0 10rem 0;

    display: grid;
    grid-template: 0.7fr 1fr / repeat(2, 1fr);
    grid-gap: 5% 0;
    background: white;
    color: $black;
    justify-items: center;

    &_map {
        width: 80%;
        height: 100%;
        background: rgb(154, 197, 154);
    }

    &_item1 {
        width: 80%;
        height: 100%;
        padding: 3% 7%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: $Tgray; // white

        &_header {
            align-self: flex-start;
            font-size: 1.6em;
            padding: 0 0 4% 0;
            font-weight: 900;
        }
        &_text {
            font-size: 1em;
        }
    }
    &_item3 {
        display: flex;
        flex-direction: column;
        
        width: 80%;
        height: 1.5fr;
        padding: 6% 12% 6% 12%;

        background: $Tgray; // white

        &_header{
            font-size: 1.4em;
            font-weight: 900;
            color: rgb(7, 170, 7);
            padding: 0 0 10% 0;
        }

        &_container {
            display: flex;
            flex-direction: column;


            &_header {
                font-weight: bolder;
                font-size: 1.2em;
            }
            &_text {
                font-size: 0.87em;
            }
        }
    }
    &_form {
        width: 80%;
        height: 1.5fr;
        padding: 5% 4% 1.5vw 4%;

        display: flex;
        flex-direction: column;

        background: $Tgray; //white
        color: $Gray;
        font-size: 0.999em;

        &_wrapper {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            &_name {
                display: flex;
                flex-direction: column;

                width: 100%;
                padding: 0 0 5% 0;
            }
            &_text {
                padding: 0 0 1% 0;
                width: 50%;
            }
            &_input {
                font-size: 1em;
                font-weight: normal;

                border: 1px solid $Gray;
                border-radius: 2px;
                padding: 2px 0;
                width: 98%;

                &2 {
                    font-size: 1em;
                    font-weight: normal;

                    border: 1px solid $Gray;
                    border-radius: 2px;
                    padding: 2px 0;
                    width: 100%;
                }

                &3 {
                    font-size: 1em;
                    font-weight: normal;

                    border: 1px solid $Gray;
                    border-radius: 2px;
                    padding: 2% 2% 2% 2%;

                    width: 100%;
                    height: 10rem;
                    resize: none;
                }
                &4 {
                    justify-self: center;
                    align-self: center;

                    font-size: 0.9em;
                    line-height: 25px;
                    font-weight: normal;

                    padding: 1.8% 4.5% 1.8% 4.5%;
                    border: none;
                    border-radius: 2px;

                    background: $blue2;
                    color: white;
                }
            }
        }
    }
}

.main__photo {
    width: 100%;
    height: 270px;
    grid-column: 1/3;
    object-fit: cover;
}

input[type=text] {
    padding: 0.5% 0 0.5% 2%;
    text-transform: unset;
}

.scroller {
    width: 2%;
    height: 2%;

    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-self: flex-end;

    position: fixed;
    right: 20px;
    top: 50%;
}

#ig {
    color: rgb(255, 100, 177);
    transition: opacity 0.5s ease;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

#fb {
    color: rgb(40, 40, 146);
    margin: 0.4rem 0 0.4rem 0;
    transition: opacity 0.5s ease;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
#wa {
    color: rgb(19, 163, 19);
    transition: opacity 0.5s ease;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

input {
    
    line-height: 20px;

    font-weight: bold;
    font-size: 1em;
    color: $Gray2;

    padding: 0px 8px;

    text-transform: uppercase;

    
}

#icon {
    margin-bottom: 20px;
}

#icon1 {
    order: 3;
    padding: 5px 15px;
    margin-right: 10px;
    background-image: url("../images/poland.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon2 {
    order: 4;
    padding: 5px 18px;
    background-image: url("../images/english.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 15px;
}

#icon3 {
    order: 6;
    padding: 15px 18px;
    background-image: url("../images/phone-icon2.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#icon4 {
    order: 8;
    padding: 15px 18px;
    margin-left: 10px;
    background-image: url("../images/letter-icon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52.5px 28px;
}

#icon-text1 {
    order: 6;
    padding: 0 15px 0 0;
    font-size: 1em;
}
#icon-text2 {
    order: 9;
}

.wrapper {
    order: 2;
    width: auto;
}

.mobile-wrapper {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 0;
    height: 0;
    visibility: hidden;
}