*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  filter: opacity(1);
  font-family: Lato, "sans-serif";
}

body, html {
  overflow-x: hidden;
}

nav {
  height: 8vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1% 2.5% 1% 2.5%;
  font-size: 0.8rem;
  color: #333367;
}

nav .nav__text {
  order: 5;
  font-size: 0.85em;
  font-weight: bold;
  color: #7d7d7d;
  padding: 10px 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav_logo {
  filter: opacity(1);
  margin: 0 1rem 0 -2.5rem;
  object-fit: contain;
}

#nav_logo:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

input {
  background: white;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: #7d7d7d;
  padding: 0px 8px;
  text-transform: uppercase;
}

input.list {
  background: transparent;
  border: none;
  transition: filter 0.5s ease;
}

input.list__login {
  border: none;
  background: transparent;
  transition: filter 0.3s ease;
}

input.list__login:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

input.list:hover {
  cursor: pointer;
  filter: opacity(0.7);
}

.list_form {
  display: flex;
}

#icon {
  margin-bottom: 20px;
}

#icon1 {
  padding: 5px 15px;
  margin-right: 10px;
  background-image: url("../images/poland.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

#icon2 {
  padding: 5px 18px;
  background-image: url("../images/english.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

footer.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 60%;
}

footer.container .container__item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0c0b10;
  border: 1px #7d7d7d solid;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
}

footer.container .container__item1_logo {
  margin-left: 20%;
  opacity: 1;
  object-fit: contain;
}

footer.container .container__item1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 47.5%;
  font-size: 0.8rem;
  margin-right: 1%;
}

footer.container .container__item2 {
  display: flex;
  width: 100%;
  height: 3.5vh;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background: #7d7d7d;
  border: 1px #7d7d7d solid;
  border-top: none;
}

body, html {
  background: #f3f3f3;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: Lato, "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main.container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main__article {
  width: 60%;
  min-height: 100vh;
  background: #d7d7d7;
  border: 2px solid #6f6f6f;
  color: #7d7d7d;
  font-size: 1.5rem;
  display: grid;
  grid-template: 1fr / 0.25fr 1fr;
  justify-items: space-between;
}

.main__article_item1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #6f6f6f;
  padding: 15% 0 0 0;
}

.main__article_item1_input {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 2px solid #7d7d7d;
  margin: 0 0 20% 0;
  height: 2.5rem;
  width: 12rem;
  transition: 1s ease;
}

.main__article_item1_input:hover {
  cursor: pointer;
  border: 2px solid #c2c2c2;
  color: #c2c2c2;
}

.main__article_item2 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 2% 1% 2% 5%;
  width: 70%;
}

.main__article_item2_Posty_text {
  font-size: 2rem;
}

.main__article_item2_Posty_text:not(:last-child) {
  padding: 0 0 1% 0;
}

.main__article_item2_Posty_input {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: normal;
  width: 100%;
  height: 3.5%;
  margin: 0 0 3% 0;
  border: 2px solid #6f6f6f;
  border-radius: 0.2rem;
}

.main__article_item2_Posty_input::first-letter {
  text-transform: uppercase;
}

.main__article_item2_Posty_input::placeholder {
  opacity: 0.7;
}

.main__article_item2_Posty_textarea {
  font-size: 1rem;
  border: 2px solid #6f6f6f;
  border-radius: 0.2rem;
}

.main__article_item2_Posty_textarea::placeholder {
  opacity: 0.7;
}

.main__article_item2_Posty_submit {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid #6f6f6f;
  border-radius: 0.35rem;
  transition: 0.5s ease;
  padding: 2% 3%;
  margin: 5% 0 0 0;
  align-self: center;
  justify-self: center;
}

.main__article_item2_Posty_submit:hover {
  cursor: pointer;
  border: 2px solid;
}

.main__article_item2_Teksty_label {
  font-size: 2rem;
}

.main__article_item2_Teksty_select {
  color: #6f6f6f;
  font-size: 1.1rem;
  border: 2px solid #6f6f6f;
  border-radius: 0.2rem;
  margin: 1% 0 0 0;
  height: 3.5%;
  width: 32%;
}

.main__article_item2_text {
  font-size: 1.5rem;
  color: #6f6f6f;
  padding: 0 0 1.5% 0;
}

footer.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 60%;
}

footer.container .container__item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0c0b10;
  border: 1px #7d7d7d solid;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
}

footer.container .container__item1_logo {
  margin-left: 20%;
}

footer.container .container__item1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 47.5%;
  font-size: 0.75em;
  margin-right: 1%;
}

footer.container .container__item2 {
  display: flex;
  width: 100%;
  height: 3.5vh;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background: #7d7d7d;
  border: 1px #7d7d7d solid;
  border-top: none;
}

.wrapper {
  order: 2;
  width: auto;
}

.mobile-wrapper {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 0;
  height: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1328px) {
  .mobile-wrapper {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    order: 8;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    margin: 0% 0% 3% 0%;
  }
  .wrapper {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  main.container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  nav {
    height: 6vh;
    width: 100%;
    margin: 1% auto 0 0;
  }
  .item {
    width: 70%;
  }
  __photo {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  footer.container {
    width: 70%;
  }
  footer.container .container__item1 {
    width: 100%;
  }
  footer.container .container__item1_logo {
    margin: 2px 30px;
  }
  footer.container .container__item1_text {
    width: 47.5%;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 764px) {
  #icon1 {
    margin-right: 5px;
  }
  #icon2 {
    margin-right: -5px;
  }
  #icon4 {
    margin-left: 2px;
  }
  nav {
    font-size: 0.768em;
  }
  #nav_logo {
    width: 120px;
    height: 30px;
  }
  .mobile-wrapper {
    margin-bottom: 3.5vh;
  }
  .mobile-wrapper .list {
    font-size: 0.97em;
  }
  .item {
    width: 85%;
  }
  footer.container {
    width: 85%;
  }
  footer.container .container__item1_text {
    font-size: 0.65em;
  }
  footer.container .container__item1_logo {
    margin-left: 12.5%;
    width: 100px;
    height: 25px;
  }
}

@media only screen and (max-width: 450px) {
  #nav_logo {
    width: 150px;
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */