*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  filter: opacity(1);
  font-family: Lato, "sans-serif";
}

body, html {
  overflow-x: hidden;
}

nav {
  height: 86.39px;
  width: 1334px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1% 2.5% 1% 2.5%;
  font-size: 0.8rem;
  color: #333367;
}

nav .nav__text {
  order: 5;
  font-size: 0.85em;
  font-weight: bold;
  color: #7d7d7d;
  padding: 10px 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav_logo {
  filter: opacity(1);
  margin: 0 1rem 0 -2.5rem;
  object-fit: contain;
}

#nav_logo:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

input {
  background: white;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: #7d7d7d;
  padding: 0px 8px;
  text-transform: uppercase;
}

input.list {
  background: transparent;
  border: none;
  transition: filter 0.5s ease;
}

input.list__login {
  border: none;
  background: transparent;
  transition: filter 0.3s ease;
}

input.list__login:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

input.list:hover {
  cursor: pointer;
  filter: opacity(0.7);
}

.list_form {
  display: flex;
}

#icon {
  margin-bottom: 20px;
}

#icon1 {
  padding: 5px 15px;
  margin-right: 10px;
  background-image: url("/images/poland.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

#icon2 {
  padding: 5px 18px;
  background-image: url("/images/english.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

footer.container {
  display: grid;
  grid-template: 7fr 0.3fr / 1fr;
  align-items: end;
  height: auto;
  width: 1152px;
}

footer.container .container__item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0c0b10;
  border: 1px #7d7d7d solid;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
  padding: 3% 0;
}

footer.container .container__item1_logo {
  margin-left: 20%;
  opacity: 1;
  object-fit: contain;
}

footer.container .container__item1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 12%;
  font-size: 0.9rem;
  margin: 0 15% 0 0;
  color: #6f6f6f;
}

footer.container .container__item2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background: #7d7d7d;
  border: 1px #7d7d7d solid;
  border-top: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  filter: opacity(1);
  font-family: Lato, "sans-serif";
}

body, html {
  overflow-x: hidden;
}

nav {
  height: 86.39px;
  width: 1334px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1% 2.5% 1% 2.5%;
  font-size: 0.8rem;
  color: #333367;
}

nav .nav__text {
  order: 5;
  font-size: 0.85em;
  font-weight: bold;
  color: #7d7d7d;
  padding: 10px 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav_logo {
  filter: opacity(1);
  margin: 0 1rem 0 -2.5rem;
  object-fit: contain;
}

#nav_logo:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

input {
  background: white;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: #7d7d7d;
  padding: 0px 8px;
  text-transform: uppercase;
}

input.list {
  background: transparent;
  border: none;
  transition: filter 0.5s ease;
}

input.list__login {
  border: none;
  background: transparent;
  transition: filter 0.3s ease;
}

input.list__login:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

input.list:hover {
  cursor: pointer;
  filter: opacity(0.7);
}

.list_form {
  display: flex;
}

#icon {
  margin-bottom: 20px;
}

#icon1 {
  padding: 5px 15px;
  margin-right: 10px;
  background-image: url("/images/poland.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

#icon2 {
  padding: 5px 18px;
  background-image: url("/images/english.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 15px;
}

footer.container {
  display: grid;
  grid-template: 7fr 0.3fr / 1fr;
  align-items: end;
  height: auto;
  width: 1152px;
}

footer.container .container__item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0c0b10;
  border: 1px #7d7d7d solid;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
  padding: 3% 0;
}

footer.container .container__item1_logo {
  margin-left: 20%;
  opacity: 1;
  object-fit: contain;
}

footer.container .container__item1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 12%;
  font-size: 0.9rem;
  margin: 0 15% 0 0;
  color: #6f6f6f;
}

footer.container .container__item2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background: #7d7d7d;
  border: 1px #7d7d7d solid;
  border-top: none;
}

body, html {
  background: #f3f3f3;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  font-family: Lato, "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main.container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main__article {
  width: 1152px;
  height: auto;
  background: gray;
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
}

.masno {
  height: 100rem;
  width: 100%;
  background: gray;
}

.mobile-wrapper {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 0;
  height: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */