@import "../__variables.scss";

body, html {
    background: rgb(243, 243, 243);
    min-height: 100vh;
    max-width: 100vw;

    color: white;
    font-family: $Font;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.main__container {
    width: 60%;
    height: 110vh;
    display: grid;
    grid-template: 22.5% 75% / 0.2fr 1fr;
    grid-gap: 2%;
    // padding: 1%;
    background: $lightGray;
}

.main__image {
    // background: url("../images/Banne_v3r.jpg");
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
    object-position: top;
    grid-column: 1/3;
}

.main__article {
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    grid-row-gap: 2%;

    background: rgb(175, 69, 69);
    border: 0.2rem solid black;
    padding: 3% 5% 3% 5%;
    margin: 0 2% 2% 0;

    &_header {
        // background: coral;
        font-size: 3rem;
    }
    &_text {
        font-size: 1.5rem;
        // background: lightblue;
    }
}

.main__timeline {
    margin: 0 0 10% 10%;
    border: 0.2rem solid black;
    background: rgb(55, 55, 180);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 0 0 0;

    &_listh {
        
    }

    &_list {

    }
}

.wrapper {
    order: 2;
    width: auto;
}

.mobile-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 0;
    visibility: hidden;
}

@media only screen and (max-width:1328px) {

    .mobile-wrapper {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        order: 8;

        font-weight: bold;
        font-size: 0.8em;
        width: 100%;
        
        margin: 0% 0% 3% 0%;
    }
    .wrapper {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    main.container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
    nav {
        height: 6vh;
        width: 100%;
        margin: 1% auto 0 0;
    }

    .item {
        width: 70%;        
    }
        
        &__photo {
            visibility: hidden;
            width: 0;
            height: 0;
        }

    footer.container {
        width: 70%;

        .container__item1 {
            width: 100%;
            &_logo {
                margin: 2px 30px;
            }
            &_text {
                width: 47.5%;
                font-size: 0.75em;
            }
        }
    }
}
    

@media only screen and (max-width:764px) {

    #icon1 {
        margin-right: 5px;
    }
    #icon2 {
        margin-right: -5px;
    }
    #icon4 {
        margin-left: 2px;
    }
    nav {
        font-size: 0.768em;
    }
    #nav_logo {
        width: 120px;
        height: 30px;
    }
    .mobile-wrapper {
        margin-bottom: 3.5vh;

        .list {
            font-size: 0.97em;
        }
    }
    .item {
        width: 85%;
        
    }
    
    footer.container {
        width: 85%;

        .container__item1 {
            &_text {
                font-size: 0.65em;
            }
            &_logo {
                margin-left: 12.5%;
                width: 100px;
                height: 25px;
            }
        }
    }
}

@media only screen and (max-width:450px) {
    #nav_logo {
        width: 150px;
        height: 20px;
    }
}