@import "../__variables.scss";

body, html {
    background: rgb(243, 243, 243);
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    color: white;
    font-family: $Font;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
}
.main__article {
    height: auto;
    width: 1152px;

    background: $lightGray;
    display: grid;
    grid-template: 21.5% 1fr / 1.5fr 1fr;
    
    grid-gap: 2%;
    padding: 1% 1% 3% 1%;
    overflow: hidden;

    &_item1 {
        object-fit: cover;
        height: 280px;
        width: 100%;

        grid-column: 1/3;
    }
    &_item2 {
        background: white;
        padding: 1rem;

        &_header, &_text {
            color: black;
        }

        &_header {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0 0 2% 0;
        }

        &_text {
            font-size: 1.1rem;
        }
    }
    &_item3 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        background: white;
        color: black;

        &_container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 30% 0;
        }

        &_header, &_text {
            color: black;
        }

        &_header {
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0 0 2% 0;
        }

        &_text {
            font-size: 1.1rem;
        }

        &_input {
            padding: 0;
            background: white;
            text-transform: none;
            width: 100%;
            height: 2rem;
        }
    }
}

.wrapper {
    order: 2;
    width: auto;
}

.mobile-wrapper {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 0;
    height: 0;
    visibility: hidden;
}